.intro {
  background-color: #050810 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  z-index: 99999;
}


.hide {
  background-color: white;
  overflow: hidden;
}

.hide p {
  transform: translateY(100%);
}


@function longShadow($length,$angle) {
  $val: 0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px #{$i*$angle}px #eee8e8;
  }
  @return $val;
}

body {
  background: radial-gradient(#fdfdfd, #d82d2d);
  background-size: 100vw 100vh; 
  overflow: hidden;
  padding-top: 40vh;
}

.txt {
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10vmin;
  font-weight: 700;
  animation: shadowAnim 3.5s;
  outline: none;
  white-space: nowrap;
  color:#ff5722;
  display: flex;
  justify-content: center;
 
}

@keyframes shadowAnim {
  0% {
    text-shadow: longShadow(100,1);
    color:#ffab91;
    transform: scale(1.5, 1.5);
  }
  40% {
    text-shadow: longShadow(100,1.5);
    color:#ffab91;
    transform: scale(1.5, 1.5);
  }
  50% {
     color:#ff5722;
  }
  75% { 
    color:#ff5722;
    text-shadow: none;
  }
  100% {
    color:#ff5722;
    opacity: 1;
  }
}